
<div id="sidebar">
	<div class="inner">

		<!-- Search -->
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="Search" />
				</form>
			</section>

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>
				<ul>
					<li><a href="~/home">Homepage</a></li>
					@*<li><a href="~/WakeUpToTheWord/Index"><img src="~/images/Ticons/tiny_WakeUpSleeperIdeas_394349.png" style="height:32px; width:32px; vertical-align: middle;" />  Wake Up To The Word</a></li>*@
                    <li>
                        <span class="opener"><img src="~/images/Ticons/tiny_WakeUpSleeperIdeas_394349.png" style="height:32px; width:32px; vertical-align: middle;" />  Wake Up To The Word</span>
                        <ul>
                            <li><a href="~/ChristianApologetics/">Christian Apologetics</a></li>
                            <li><a href="~/WakeUpToTheWord/CoramDeo">Coram Deo</a></li>
                            <li><a href="~/WakeUpToTheWord/Didache">Didache</a></li>
                            <li><a href="~/WakeUpToTheWord/ChristianHedonism">Christian Hedonism</a></li>
                            <li><a href="~/WakeUpToTheWord/WhatIsTheHolySpirit">The Holy Spirit</a></li>
                            <li><a href="~/WakeUpToTheWord/FruitsOfSpirit">Fruits of the Spirit</a></li>
                        </ul>
                    </li>
                    <li>
						<span class="opener"><img src="~/images/Ticons/tiny_Bible_394349.png" style="height:32px; width:32px; vertical-align: middle;" />  Bible Study Fellowship</span>
						<ul>
							<li><a href="~/BibleStudyFellowship/">Overview</a></li>
							<li><a href="~/BibleStudyFellowship/Acts">Acts</a></li>
							<li><a href="~/BibleStudyFellowship/Galatians">Galatians</a></li>
							<li><a href="~/BibleStudyFellowship/Proverbs">Proverbs</a></li>
                            <li><a href="~/BibleStudyFellowship/Ecclesiastes">Ecclesiastes</a></li>
						</ul>
					</li>
					<li><a href="~/EconomicNews"><img src="~/images/Ticons/tiny_FinanceAdvisor_394349.png" style="height:32px; width:32px; vertical-align: middle;" /> Economic News</a></li>
					<li><a href="~/SmartMoney/Index"><img src="~/images/Ticons/tiny_GoodDollar_394349.png" style="height:32px; width:32px; vertical-align: middle;" /> Smart Money</a></li>
					<li><a href="~/FinancialProtection"><img src="~/images/Ticons/tiny_FinancialProtection_394349.png" style="height:32px; width:32px; vertical-align: middle;" /> Financial Protection</a></li>
				</ul>
			</nav>


		<!-- Section -->
			<section>
				<header class="major">
					<h2>Get in touch</h2>
				</header>
				<ul>
                    <li>To discuss Christianity</li>
                    <li>To discuss software engineering</li>
                    <li>To set up a college education fund for someone you care about</li>
                    <li>To start preparing for the day you no longer need to work</li>
				</ul>
				<ul class="contact">
					<li class="fa-envelope-o"><a href="mailto:heegar@gmail.com">heegar@gmail.com</a></li>
					<li class="fa-phone"><a href="tel:+19412861356">(941) 286-1356</a></li>
					<li class="fa-home">Port Charlotte, FL</li>
				</ul>
			</section>

		<!-- Footer -->
			<footer id="footer">
					Thanks to <a href="https://html5up.net">HTML5 UP</a> for the design.
			</footer>

	</div>
</div>
