
@{
    ViewBag.Title = "ChristianHedonism";
    Layout = "~/Views/_MasterLayout.cshtml";
}

<meta name="author" content="Adam Heeg" />
<meta name="description" content="Some of the most relevant Christian concepts explored and revealed.  Core Christian concepts explained." />
<meta name="keywords" content="Christian Hedonism, Coram Deo, Christian Concepts, Important Christian Ideas, Holy Spirit, What is the Holy Spirit, Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Christian" />



<section>
    <header class="major">
     <h2> <img src="~/images/Ticons/tiny_ChristianHedonism_BF4D44.png" style="height: 150px; width: 150px; vertical-align: middle;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Christian Hedonism</h2>
    </header>
	<p>Abundant joy and total commitment to the glory of God is the basic idea of Christian Hedonism<a href="#ch"><sup>1</sup></a>.  The term itself comes from <a href="http://www.desiringgod.org/articles/what-is-christian-hedonism" target="_blank">the writings of John Piper</a>.  John specifically describes Christian Hedonism as <blockquote>the shortest description of Christian Hedonism is God is most glorified in us when we are most satisfied in him.<a href="#sd"><sup>2</sup></a></blockquote></p>
	<p>The Westminister Shorter Catechism leads off with <blockquote>What is the chief end of man?</blockquote>  In this</p>
    <p>Let's dive into a few questions about Christian Hedonism from my personal perspective.  With my thoughts, your thoughts, and some reference material from John Piper himself I think we can really get a good handle on this important concept.</p>
    <div class="row">
	    <div class="4u 12u$(medium)">
			    <h3>How can I have Joy in the Glory of God?</h3>
			    <p>Good question.</p>
		    </div>
		    <div class="4u 12u$(medium)">
			    <h3>Is joy in God as good as the joy I get from __________?</h3>
			    <p></p>
		    </div>
		    <div class="4u$ 12u$(medium)">
			    <h3>Why does God care about my joy in him?</h3>
			    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
		    </div>
	    </div>
    <ul class="alt">
        <li><sup>1</sup> <a name="ch" target="_blank" href="http://www.desiringgod.org/articles/what-is-christian-hedonism"> John Piper - What is Christian Hedonism</a></li>
        <li><sup>2</sup> <a name="sd" target="_blank" href="http://www.desiringgod.org/articles/what-is-christian-hedonism"> Billy Graham on Holy Spirit</a></li>
    </ul>


</section>

