
@{
    ViewBag.Title = "CoramDeo";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="What is the meaning of Coram Deo?  At it's core it is what it means to be a Christian!" />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Coram Deo, RC Sproul, Christian" />

    <header class="major">
     <h2> <img src="~/images/Ticons/tiny_CoramDeo_B2822E.png" style="height: 150px; width: 150px; vertical-align: middle;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coram Deo</h2>
    </header>
<blockquote>LIVING CORAM DEO IS TO LIVE ONE’S ENTIRE LIFE IN THE PRESENCE OF GOD, UNDER THE AUTHORITY OF GOD, TO THE GLORY OF GOD<a href="#heeg1"><sup>1</sup></a></blockquote>
<p>There is no greater joy than the New Testament quoting the Old Testament.  For the concept of Coram Deo this holds true.</p>

<blockquote>As I live, says the Lord, every knee shall bow to me, and every tongue shall confess to God.</blockquote>
<ul><li><a href="https://www.biblegateway.com/passage/?search=romans+14%3A11&version=ESV" target="_blank"> Romans 14:11</a></li>
    <li><a href="https://www.biblegateway.com/passage/?search=isaiah+45%3A23&version=ESV" target="_blank"> Isaiah 45:23</a></li></ul>
<span class="image fit"><img src="~/images/bowtogod.jpg" alt="Man Bowing" /></span>
<section>
    <h2 id="content">Take it to the book<a href="#b1"><sup>3</sup></a></h2>
    <p>We already know God sees all.  Look at Adam and Eve, Cain, and even King David all trying to hide sin from God.  Let us not hide our sin and thus lie to ourselves, but rather face our iniquity and accept that only through Jesus can we be made righteous to God.  Praise God.  Coram Deo is an acknowledgement of living our lives in God's sight, but not with pompus self-righteousness or with a superiority comples.  It is living through humility and grace, being thankful for all good things and enduring and growing through tough times<a href="#b5"><sup>2</sup></a> knowing God has a purpose and plan for us all.</p>
    <div class="row">
	    <div class="6u 12u$(small)">
		    <h3>Hebrews 6:9-12<a href="#b2"><sup>4</sup></a></h3>
		    <p>9 Though we speak in this way, yet in your case, beloved, we feel sure of better things—things that belong to salvation. 10 For God is not unjust so as to overlook your work and the love that you have shown for his name in serving the saints, as you still do. 11 And we desire each one of you to show the same earnestness to have the full assurance of hope until the end, 12 so that you may not be sluggish, but imitators of those who through faith and patience inherit the promises.</p>
	    </div>
	    <div class="6u$ 12u$(small)">
		    <h3>Hebrews 10:35-39<a href="#b3"><sup>5</sup></a></h3>
		    <p>Therefore do not throw away your confidence, which has a great reward. 36 For you have need of endurance, so that when you have done the will of God you may receive what is promised. 37 For,
<br />
“Yet a little while,
    and the coming one will come and will not delay;
38 but my righteous one shall live by faith,
    and if he shrinks back,
my soul has no pleasure in him.”<br />
39 But we are not of those who shrink back and are destroyed, but of those who have faith and preserve their souls.</p>
	    </div>
    </div>
</section>

    <ul class="alt">
        <li><sup>1</sup> <a name="heeg1" target="_blank" href="http://www.ligonier.org/blog/what-does-coram-deo-mean/"> Ligonier Minitries - Coram Deo</a></li>
        <li><sup>2</sup> <a name="b5" target="_blank" href="https://www.biblegateway.com/passage/?search=2+Cor+4%3A7-16&version=ESV"> 2 Cor 4:7-16</a></li>
        <li><sup>3</sup> <a name="b1" target="_blank" href="http://www1.cbn.com/cbnnews/us/2016/march/incredible-proof-for-why-you-should-have-faith-in-the-bible"> Is the Bible reliable?  Yes!</a></li>
        <li><sup>4</sup> <a name="b2" target="_blank" href="https://www.biblegateway.com/passage/?search=Hebrews+6&version=ESV"> Hebrews 6</a></li>
        <li><sup>5</sup> <a name="b3" target="_blank" href="https://www.biblegateway.com/passage/?search=Hebrews+10&version=ESV"> Hebrews 10</a></li>
    </ul>