
@{
    ViewBag.Title = "CoramDeo";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="What is the meaning of Coram Deo?  At it's core it is what it means to be a Christian!" />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Didache, Early Christian Writings, Teachings of the Apostles, Christian, Fellowship Church, Englewood, Fl" />

<header class="major">
    <h2> <img src="~/images/Ticons/tiny_Step2StudyBible_B2822E.png" style="height: 150px; width: 150px; vertical-align: middle;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Didache</h2>
</header>

<style>
    .ROJAQuestion {
        font-size: 1.2em;
        color: #e58816;
        font-weight: bold;
    }
</style>
<section>
    <h2 id="content">The Teaching of the Twelve Apostles</h2>
    <blockquote>
        The Didache,
        or Teaching
        of the Apostles
        (trans. and ed.,
        J. B. Lightfoot)
        Lightly updated by jfaudiostuff
        in conjunction with
        the translation of Philip Schaff 1885<a href="#heeg1"><sup>1</sup></a>
    </blockquote>
    <p>Didache contained instructions for Christian groups; and its statement of belief may be the first written catechism<a href="#heeg2"><sup>2</sup></a>.  The Didache has three main sections dealing with Christian ethics, rituals such as baptism and Eucharist, and Church organization<a href="#heeg3"><sup>3</sup></a>.</p>
    <h4 class="ROJAQuestion">Chapter 1</h4>
    <p>
        There are two ways, one of life and one of death, and there is a
        great difference between the two ways.
        The way of life is this.
        First of all, you shall love the God who made you;
        secondly, your neighbour as yourself.
        And do nothing to another that you would not have befal yourself.
        Now of these words the doctrine is this.
        Bless those who curse you, and pray for your enemies and fast for
        those who persecute you;
        for what merit is it, if you love those who love you? Do not even
        the Gentiles do the same? But love those who hate you, and you shall
        not have an enemy.
        Abstain from fleshly and bodily lusts.
        If any man gives you a blow on your right cheek, turn to him the
        other also, and you shall be perfect;
        if a man forces you to go with him, one mile, go with him two;
        if a man takes away your cloak, give him your coat also;
        if a man takes away from you what is yours, do not ask for it
        back, for you cannot.
        Give to every man who asks of you, and do not ask for it back;
        for the Father desires that gifts be given to all from His own
        bounties.
        Blessed is the one who gives according to the commandment;
        for he is guiltless.
        Woe to him who receives;
        for, if a man receives having need, he is guiltless;
        but he who has no need will have to give an answer why and
        wherefore he received;
        and being put in confinement he shall be examined concerning
        what he has done, and he shall not come out until he has given back
        the last farthing.
        Yea, as touching this also it is said;
        Let your alms stay in your hands, until you have learnt to whom
        to give.

    </p>
    <h4 class="ROJAQuestion">Chapter 2</h4>
    <p>
        And this is the second commandment of the teaching.
        You shall not murder, you shall not commit adultery, you shall not
        corrupt boys, you shall not commit fornication, you shall not steal, you
        shall not deal in magic, you shall do no sorcery, you shall not murder a
        child by abortion nor kill them when born, you shall not covet your
        neighbour's goods, you shall not perjure yourself, you shall not bear
        false witness, you shall not speak evil, you shall not cherish a grudge,
        you shall not be double-minded nor double-tongued;
        for the double tongue is a snare of death.
        Your word shall not be false or empty, but fulfilled by action.
        You shall not be avaricious nor a plunderer nor a hypocrite nor illtempered
        nor proud.
        You shall not devise an evil plan against your neighbour.
        You shall not hate any man, but some you shall reprove, and for
        others you shall pray, and others you shall love more than your life.

    </p>
    <h4 class="ROJAQuestion">Chapter 3</h4>
    <p>
        My child, flee from every evil and everything that resembles it.
        Do not be easily angry, for anger leads to murder, nor jealous nor
        contentious nor wrathful;
        for of all these things cause murders.
        My child, do not be lustful, for lust leads to fornication, nor foulspeaking,
        nor one who stares;
        for all these things cause adulteries.
        My child, do not be a dealer in omens, since it leads to idolatry, nor
        an enchanter nor an astrologer nor a magician, neither be willing to
        look at them;
        for all these things cause idolatry.
        My child, do not be a liar, since lying leads to theft; nor covetous,
        nor proud;
        for all these things cause thefts.
        My child, do not be a murmurer, since it leads to blasphemy,
        neither self-willed neither a thinker of evil thoughts;
        for all these things cause blasphemies.
        But be meek, since the meek shall inherit the earth.
        Be long-suffering and pitiful and guileless and quiet and kindly
        and always trembling at the words which you have heard.
        You shall not exalt yourself, or admit boldness into your soul.
        Your soul shall not cleave to the lofty, but you shall walk with the
        righteous and humble.
        Receive as good what happens to you, knowing that nothing is
        done without God.

    </p>
    <h4 class="ROJAQuestion">Chapter 4</h4>
    <p>
        My child, you shall remember him who speaks to you the word of
        God night and day, and shall honour him as the Lord;
        for where the Lordship is spoken of, there is the Lord.
        Moreover you shall seek out day by day the persons of the saints,
        that you may find rest in their words.
        You shall not make division, but you shall pacify those who are in
        conflict;
        you shall judge righteously, you shall not be partial in reproving
        for transgressions.
        You shall not worry whether a thing shall be or not be.
        Do not be found holding out your hands to receive, but drawing
        them in as to giving.
        If you have anything in your hands, you shall give it as a ransom
        for your sins.
        You shall not hesitate to give, neither shall you murmur when
        giving;
        for you shall know who is the good paymaster of your reward.
        You shall not turn away from him who is in want, but shall make
        your brother share in all things, and shall not say that anything is your
        own.
        For if you are fellow-partakers in what is imperishable, how
        much rather in the things which are perishable? You shall not
        withhold your hand from your son or from your daughter, but from
        their youth you shall teach them the fear of God.
        You shall not give commands to your man-servant or your maidservant
        in your bitterness, who trust in the same God as yourself, lest
        they should cease to fear the God who is over both of you;
        for He comes, not to call men according to their appearance, but
        He comes to those whom the Spirit has prepared.
        But you, servants, shall be subject to your masters, as to the
        image of God, in reverence and fear.
        You shall hate all hypocrisy, and everything that is not pleasing
        to the Lord.
        You shall never forsake the commandments of the Lord;
        but shall keep what you have received, neither adding to them
        nor taking away from them.
        In church you shall confess your sins, and shall not go to your
        prayer with an evil conscience.
        This is the way of life.

    </p>
    <h4 class="ROJAQuestion">Chapter 5</h4>
    <p>
        But the way of death is this.
        First of all, it is evil and full of a curse; murder, adultery, lust,
        fornication, theft, idolatry, magical art, witchcraft, robbery, false
        witnessing, hypocrisy, doubleness of heart, treachery, pride, malice,
        stubbornness, covetousness, foul-speaking, jealousy, presumption,
        exaltation, boastfulness;
        persecutors of good men, hating truth, loving a lie, not perceiving
        the reward of righteousness, not cleaving to the good nor to righteous
        judgment, watchful not for what is good but for what is evil;
        standing apart from gentleness and forbearance;
        loving vain things, pursuing a reward, not pitying the poor man,
        not toiling for him who is oppressed with toil, not recognizing Him
        who made them, murderers of children, corrupters of the creatures of
        God, turning away from him who is in want, oppressing him who is
        afflicted, advocates of the wealthy, unjust judges of the poor,
        altogether sinful.
        May you be delivered, my children, from all these things.

    </p>
    <h4 class="ROJAQuestion">Chapter 6</h4>
    <p>
        Beware lest any man lead you astray from this way of
        righteousness, for he teaches you apart from God.
        For if you are able to bear the whole yoke of the Lord, you shall be
        perfect;
        but if you are not able, do what you can.
        But concerning food, bear what you can;
        yet abstain by all means from meat sacrificed to idols;
        for it is the worship of dead gods.

    </p>
    <h4 class="ROJAQuestion">Chapter 7</h4>
    <p>
        But concerning baptism, thus shall you baptize.
        Having first taught all these things, baptize in the name of the
        Father and of the Son and of the Holy Spirit in living (running) water.
        But if you have not living water, then baptize in other water;
        and if you are not able in cold, then in warm.
        But if you have neither, then pour water on the head thrice in the
        name of the Father and of the Son and of the Holy Spirit.
        But before the baptism let him who baptizes and him who is
        baptized fast, and any others also who can;
        and you shall order him who is baptized to fast a day or two
        before.

    </p>
    <h4 class="ROJAQuestion">Chapter 8</h4>
    <p>
        Let not your fastings be with the hypocrites, for they fast on the
        second and the fifth day of the week;
        but keep your fast on the fourth and on the preparation day
        (Friday).
        And do not pray like the hypocrites, but pray as the Lord
        commanded in His Gospel;.
        Our Father, who are in heaven, hallowed be Your name;
        Your kingdom come;
        Your will be done, as in heaven, so also on earth;
        give us this day our daily bread;
        and forgive us our debt, as we also forgive our debtors;
        and lead us not into temptation, but deliver us from the evil one;
        for Yours is the power and the glory for ever and ever.
        Pray thus three times in the day.
    </p>
    <h4 class="ROJAQuestion">Chapter 9</h4>
    <p>
        But as touching the eucharistic thanksgiving give thanks thus.
        First, as regards the cup:
        We give You thanks, O our Father, for the holy vine of Your son
        David, which You made known to us through Your Son Jesus;
        Yours is the glory for ever and ever.
        Then as regards the broken bread:
        We give You thanks, O our Father, for the life and knowledge
        which You made known to us through Your Son Jesus;
        Yours is the glory for ever and ever.
        As this broken bread was scattered on the mountains and being
        gathered together became one, so may Your Church be gathered
        together from the ends of the earth into Your kingdom;
        for Yours is the glory and the power through Jesus Christ for ever
        and ever.
        But let no one eat or drink of this eucharistic thanksgiving,
        except those who have been baptized into the name of the Lord;
        for concerning this also the Lord has said:
        Do not give what is holy to the dogs.

    </p>
    <h4 class="ROJAQuestion">Chapter 10</h4>
    <p>
        And after you have eaten enough, give thanks thus:
        We give You thanks, Holy Father, for Your holy name, which You
        have made to dwell in our hearts, and for the knowledge and faith and
        immortality, which You have made known to us through Your Son
        Jesus;
        Yours is the glory for ever and ever.
        Almighty Master, You created all things for Your name's sake,
        and gave food and drink to men for enjoyment, that they might give
        You thanks;
        but gave us spiritual food and drink and eternal life through Your
        Son.
        Before all things we give You thanks that You are powerful;
        Yours is the glory for ever and ever.
        Remember, Lord, Your Church, to deliver it from all evil and to
        perfect it in Your love;
        and gather it together from the four winds, sanctified for Your
        kingdom which You have prepared for it;
        for Yours is the power and the glory for ever and ever.
        May grace come and may this world pass away.
        Hosanna to the God of David.
        If any man is holy, let him come;
        if any man is not holy, let him repent. Maran Atha. Amen.
        But permit the prophets to offer thanksgiving as they desire.

    </p>
    <h4 class="ROJAQuestion">Chapter 11</h4>
    <p>
        So whoever shall come and teach you all these things that have
        been said before, receive him;
        but if the teacher himself is perverted and teaches a different
        doctrine, to the destruction of what you have been taught, do not
        listen to him;
        but if he teaches of the increase of righteousness and the
        knowledge of the Lord, receive him as the Lord.
        But concerning the apostles and prophets, do according to the
        decree of the Gospel.
        Let every apostle, who comes to you, be received as the Lord;
        but he shall not stay more than a single day, or if there be need,
        two;
        but if he stays three days, he is a false prophet.
        And when he departs let the apostle receive nothing save enough
        bread, until he reaches shelter;
        but if he asks for money, he is a false prophet.
        And you shall not test or discern any prophet speaking in the
        Spirit;
        for every sin shall be forgiven, but this sin shall not be forgiven.
        Yet not every one who speaks in the Spirit is a prophet, but only
        if he has the ways of the Lord.
        So the false prophet and the true prophet shall be recognized
        from his ways.
         And no prophet when he orders a table in the Spirit shall eat of
        it;
         otherwise he is a false prophet.
         And every prophet teaching the truth, if he does not do what he
        teaches, is a false prophet.
         And every prophet approved and found true, if he does
        anything as an outward mystery that speaks of the Church, and yet
        does not teach you to do all that he himself does, shall not be judged
        before you;
        he has his judgment in the presence of God;
        for so also did the prophets of old time.
       And whoever says in the Spirit, Give me silver or anything else,
        you shall not listen to him;
        but if he tells you to give on behalf of others who are in want,
        let no man judge him.

    </p>
    <h4 class="ROJAQuestion">Chapter 12</h4>
    <p>
        Let every one who comes in the name of the Lord be received;
        and then when you have tested him you shall know him, for you
        shall have understanding on the right hand and on the left.
        If he who comes is a wayfarer, assist him, so far as you are able;
        but he shall not stay with you more than two or three days, if it
        be necessary.
        But if he wishes to settle with you, being a craftsman, let him
        work for and eat his bread.
        But if he has no craft, according to your wisdom provide how he
        shall live as a Christian among you, but not in idleness.
        If he will not do this, he is trafficking upon Christ.
        Beware of such men.

    </p>
    <h4 class="ROJAQuestion">Chapter 13</h4>
    <p>
        But every true prophet desiring to settle among you is worthy of
        his food.
         In like manner a true teacher is also worthy, like the workman, of
        his food.
        Every firstfruit then of the produce of the wine-vat and of the
        threshing-floor, of your oxen and of your sheep, you shall take and
        give as the firstfruit to the prophets;
        for they are your chief-priests.
        But if you have not a prophet, give them to the poor.
        If you make bread, take the firstfruit and give according to the
        commandment.
        In like manner, when you open a jar of wine or of oil, take the
        firstfruit and give to the prophets;
        yea and of money and raiment and every possession take the
        firstfruit, as shall seem good to you, and give according to the
        commandment.

    </p>
    <h4 class="ROJAQuestion">Chapter 14</h4>
    <p>
        And on the Lord's own day gather yourselves together and break
        bread and give thanks, first confessing your sins, that your sacrifice
        may be pure.
        And let no man, having a dispute with his fellow, join your
        assembly until they have been reconciled, that your sacrifice may not
        be defiled;
        for it is this sacrifice that was spoken of by the Lord;
        “In every place and at every time offer Me a pure sacrifice;
        for I am a great king,” says the Lord “and My name is wonderful
        among the nations.”

    </p>
    <h4 class="ROJAQuestion">Chapter 15</h4>
    <p>
        So appoint for yourselves bishops and deacons worthy of the
        Lord, men who are meek and not lovers of money, and true and
        approved;
        for to you they also perform the service of the prophets and
        teachers.
        Therefore do not despise them;
        for they are your honourable men along with the prophets and
        teachers.
        And reprove one another, not in anger but in peace, as you find
        in the Gospel;
        and let no one speak to any who has gone wrong towards his
        neighbour, or let him hear a word from you, until he repents.
        But do your prayers and your almsgivings and all your deeds as
        you find it in the Gospel of our Lord.
    </p>
    <h4 class="ROJAQuestion">Chapter 16</h4>
    <p>
        Be watchful for your life;
        let your lamps not be quenched and your loins not ungirded, but
        be ready;
        for you do not know the hour in which our Lord comes.
        And you shall gather yourselves together frequently, seeking
        what is fitting for your souls;
        for the whole time of your faith shall be of no use to you, if you
        are not perfected at the last.
        For in the last days the false prophets and destroyers shall be
        multiplied, and the sheep shall be turned into wolves, and love shall
        be turned into hate.
        For as lawlessness increases, they shall hate one another and
        shall persecute and betray.
        And then the world-deceiver shall appear as a son of God;
        and shall work signs and wonders, and the earth shall be
        delivered into his hands;
        and he shall do unholy things, which have never been since the
        world began.
        Then all created mankind shall come to the fire of testing, and
        many shall be offended and perish;
        but those who endure in their faith shall be saved through the
        Curse itself.
        And then the signs of the truth shall appear;
        first a sign of a rift in the heaven, then a sign of a voice of a
        trumpet, and thirdly a resurrection of the dead;
        yet not of all, but as it was said:
        The Lord shall come and all His saints with Him.
        Then the world will see the Lord coming upon the clouds of
        heaven.

    </p>
</section>

<ul class="alt">
    <li><sup>1</sup> <a name="heeg1" target="_blank" href="https://jesus.org.uk/sites/default/files/media/documents/books/others/didache.pdf"> Didache PDF Download</a></li>
    <li><sup>2</sup> <a name="heeg2" target="_blank" href="https://christianhistoryinstitute.org/study/module/didache"> Christian History Institute: The Didache</a></li>
    <li><sup>3</sup> <a name="heeg3" target="_blank" href="https://en.wikipedia.org/wiki/Didache"> Didache Wikipedia</a></li>
    <li><sup>4</sup> <a name="heeg4" target="_blank" href="http://www.earlychristianwritings.com/didache.html"> Further Reading: Early Christian Writings Overview</a></li>
    <li><sup>5</sup> <a name="heeg5" target="_blank" href="https://christianity.stackexchange.com/questions/42847/what-explanations-have-scholars-proposed-for-the-rejection-of-the-didache-from-t"> Further Reading: Why Isn't the Didache Part of Offical Scripture (Canon)?</a></li>
    <li><sup>6</sup> <a name="heeg5" target="_blank" href="http://christian-apologetics-society.blogspot.com/2009/02/didache-text-contradicts-christian.html"> Further Reading: Does the Didache Meet Standards of Doctrinal Christian Belief?</a></li>
</ul>