
@{
    ViewBag.Title = "FruitsOfSpirit";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="The Holy Spirit is a distinct, powerful, and personal side of God.  " />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Christian, Fellowship Church, God, Fruits of the Spirit, Fruits, Spirit" />

<h2>Fruits Of The Spirit</h2>
<p>But the fruit of the Spirit is love, joy, peace, forbearance, kindness, goodness, faithfulness, gentleness and self-control. Against such things there is no law.</p>

<blockquote><a href="https://www.biblegateway.com/passage/?search=Matthew+12&version=NIV" target="_blank">Matthew 12:32</a> Anyone who speaks a word against the Son of Man will be forgiven, but anyone who speaks against the Holy Spirit will not be forgiven, either in this age or in the age to come</blockquote>

    <ul class="alt">
        <li><sup>1</sup> <a name="cd" target="_blank" href="https://en.wikipedia.org/wiki/Coram_Deo"> Wikipedia - Coram Deo</a></li>
        <li><sup>2</sup> <a name="ch" target="_blank" href="http://www.desiringgod.org/articles/what-is-christian-hedonism"> John Piper - What is Christian Hedonism</a></li>
        <li><sup>3</sup> <a name="sp" target="_blank" href="https://billygraham.org/decision-magazine/november-2011/the-fruit-of-the-spirit/"> Billy Graham on Holy Spirit</a></li>
    </ul>