
@{
    ViewBag.Title = "WhatIsTheHolySpirit";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="The Holy Spirit is a distinct, powerful, and personal side of God.  " />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Rule of 72, Dollar Cost Averaging, Retirement, Smart Money, Financial Investing, Financial Strategy" />

<h2>The Holy Spirit</h2>


<blockquote><a href="https://www.biblegateway.com/passage/?search=Matthew+12&version=NIV" target="_blank">Matthew 12:32</a> Anyone who speaks a word against the Son of Man will be forgiven, but anyone who speaks against the Holy Spirit will not be forgiven, either in this age or in the age to come</blockquote>
