
@{
    ViewBag.Title = "Acts";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="Study of the Book of Acts." />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Book of Acts, Acts of the Apostles, Luke, Bible, Bible Study, Apostle Paul, Fellowship Church" />

<h2>Acts</h2>

<h3>Acts 15 The Council at Jerusalem</h3>
<style>
    .ROJAQuestion {
    font-size:1.2em;
    color:#e58816;
    font-weight:bold;
    }
</style>
I forget who showed me this 7 question strategy to study the bible, so I cannot give credit for it.  
However, this is something I call the ROJA study method and consists of answering the following 7 questions.  
I have not refined my answers or finished all of them, but I do have 5 pages of work below!
<h4 class="ROJAQuestion">1)	 Who are the parties in the story?</h4>
<p>All participants are believers in Christ – Pharisees, Apostles and Elders including James, Paul & Barnabas, Peter.</p>
<h4 class="ROJAQuestion">2)	In your own words what happens?</h4>
<p>
The leaders of the early church gather and end up declaring what is now known as the Apostolic Decree or Jerusalem Quadrilateral.<br /><br />
Leaders in the church gather to determine what type of life and obedience is required of the Gentile Christian converts.  
    Certain members of the party of the Pharisees wants to impose both circumcision and the laws of Moses.  
    This begins the debate.<br /><br />
Peter stands up and gives a speech about his experiences with God which were depicted in Acts 10.  
    Peter was given a vision of all animals being declared clean, a Gentile believer, Cornelius, at this time was 
    told by God to call Peter.  Cornelius led a pleasing life to God and as Peter spoke to Cornelius he put 
    together the cleanliness of all animals with the idea that Gentiles too are now ‘clean’ or accepted by God.  
    In a show of this being correct the Holy Spirit was poured out that very moment on the house of Cornelius.  
    In summary, Peter says in Act 10:47 <blockquote>“Surely no one can stand in the way of their being baptized with water. 
        They have received the Holy Spirit just as we have.”</blockquote><br /><br />
Next, Paul and Barnabas give testimony as to the works and signs they had done in the name of Jesus to the Gentiles.<br /><br />
James then as leader of the church speaks in agreement with Peter and brings the words of the prophet Amos 9:11–12 as a proof text of sorts.  
    James makes a final decision rather quickly, as the text shows no indication of any other debate or discussion.  
    The final Apostolic Decree or Jerusalem Quadrilateral reads:<br /><br />
You are to abstain<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from food sacrificed to idols, <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from blood, <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from the meat of strangled animals and <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from sexual immorality.<br /><br />
In this setting we see Peter and Paul on the same side of the debate.  This was not true in the text from Galatians 2.  
    We see how Peter in Acts 15:10-11 says the same thing that later Paul will say in Romans 9:30-10:4<br /><br />
<blockquote>Now then, why do you try to test God by putting on the necks of Gentiles a yoke that neither we nor our ancestors have been able to bear? 11 No! We believe it is through the grace of our Lord Jesus that we are saved, just as they are.” Acts 15:10-11</blockquote>
    <br /><br />
 <blockquote>What shall we say, then? That Gentiles who did not pursue righteousness have attained it, that is, a righteousness that is by faith; 
     but that Israel who pursued a law that would lead to righteousness did not succeed in reaching that law. Why? Because they did not pursue it by faith, 
     but as if it were based on works. They have stumbled over the stumbling stone, as it is written,<br /><br />
 &nbsp;&nbsp;“Behold, I am laying in Zion a stone of stumbling, and a rock of offense;<br />
    &nbsp;&nbsp;&nbsp;and whoever believes in him will not be put to shame.”<br /><br />
Brothers, my heart's desire and prayer to God for them is that they may be saved. For I bear them witness that they have a zeal for God, but not 
     according to knowledge. For, being ignorant of the righteousness of God, and seeking to establish their own, they did not submit to God's 
     righteousness. For Christ is the end of the law for righteousness to everyone who believes.  Romans 9:30-10:4</blockquote>
To give peace to those that this message was sent James not only sends Paul and Barnabas out to spread the Apostolic Decree or Jerusalem Quadrilateral 
    but also men from the Apostles and Elders of the church in Jerusalem.
</p>
<h4 class="ROJAQuestion">3)	What place & time in the story of the bible does this take place in?</h4>
<p>
This council takes place around AD 50, which is the same time frame as the book of Galatians which has a strong story correlation, especially in Galatians 2.  
    There is debate as to the exact dates, and if Pauls powerful rant in Galatians 2 predates this council meeting.  
    However, it is clear that Paul stood strong on his belief and the fact that Peter had his ‘Gentile Experience’ in Acts 9 which is inconsitant with his 
    abstaining from Gentile dinner tables that indeed Paul was the catalyst, Peter was the messenger, and James the Author of the ‘Apostolic Decree or Jerusalem Quadrilateral’
</p>
<h4 class="ROJAQuestion">4)	In your opinion why did the people (1) do what they did (2)?</h4>
<p>Paul learned that his righteousness was based on pride.  When Christ came to him he became fully aware of his own lack of value outside of Christ.  He persuaded with great zeal others to realize that Laws were not given by G-d for the righteousness of man.  Paul stood for Christ and from his own experience knew that the law was a stumbling block to those burdened by it.  Peter stood for the Lord and in his visions and experiences with Cornelius stood on the side of Gentiles who were clearly given the same gifts from G-d as the Jews were.  James basically arbitrated between two sides who each had pushed their viewpoints.  He was in a position of authority and made a decision based on the testimony of those around him.  In his letter to the Gentiles he states his purpose for the decision as, “It seemed good to the Holy Spirit and to us not to burden you with anything beyond the following requirements”.<br /><br />
We have been left to speculate about the purpose of the Pharisees.  Some have said it was out of laziness, or pride, greed, or some other self-serving reasons that they laid these requirements on the Gentiles.  While I believe this is irrefutably true based on my personal experience as a human and with humans (we always have the selfish side involved) that doesn’t mean that the requirements were actually wrong.  Indeed, the words of Moses were clear and direct and even claimed to be everlasting.  This brings great weight to the argument of circumcision regardless of the selfish nature of those supporting it.
</p>
<h4 class="ROJAQuestion">5)	Summarize the theme of the passage as you see it?</h4>
<p>As Bob Deffinbaugh<a href="#ref2"><sup>2</sup></a> points out, the theme of this story seems to draw closely to the story of Naaman in 2 Kings 5.  To be continued...</p>
<h4 class="ROJAQuestion">6)	Do you have any questions?</h4>
<p>
    <ol>
&nbsp;&nbsp;&nbsp;<li>I’m curious about how the Noahide Laws might apply or relate to us today.</li>
&nbsp;&nbsp;&nbsp;<li>How to the 10 commandments relate – are they assumed, are they overlooked, are they not required?</li>
&nbsp;&nbsp;&nbsp;<li>Where does tithing fit in the New Testament dogma in the view of Paul, James and others?</li>
&nbsp;&nbsp;&nbsp;<li>Why do so many churches ignore this passage, teach beyond it, and focus on topics other than Jesus, Grace, and Love?</li>
&nbsp;&nbsp;&nbsp;<li>Why were more of the debates detailed, so as to avoid revisiting the arguments over time as we humans have a tendency to question previous 
    decisions and fall back toward things we think are right instead of trusting what we’ve been told.</li>
&nbsp;&nbsp;&nbsp;<li>In 1 Corinthians 8 did Paul teach against this decree concerning the meat sacrificed to idols?</li>
&nbsp;&nbsp;&nbsp;<li>Would James have made the same decree if he could see the state of the Church today and in the previous years, including times of intra-church persecution, 
    Christian-Jewish persecution, prosperity gospel, and other ‘Christian Culture’ themes that have plagued us.</li>
&nbsp;&nbsp;&nbsp;<li>Was this decree intended to set a standard for brotherhood in Christ – i.e. minimum requirements for earthly bonding?  The actual letter from James 
    calls this list of 4 items ‘requirements’.  What are the required for?  I agree with the following statement from the Wikipedia entry on this council:</li>
<blockquote>Obviously James' words cannot mean that none of the Torah's commands are valid except for these four things</blockquote>

&nbsp;&nbsp;&nbsp;<li>Does verse 21 imply that the laws of Moses are to be preached and followed, and that while not requirements that Gentiles will come to know these laws over time?  
    Truly the law of God is written on our hearts, and doesn’t that mean we want these teachings?</li>
</ol>
</p>


<h4 class="ROJAQuestion">7)	What did you learn from this passage?</h4>
<p>I find it interesting that the requirements that James listed are only slightly similar to the traditional laws gentile converts were given to follow by Jews.
Historically Gentile converts were commanded to follow the Noahide laws.
The seven Noahide laws as traditionally enumerated are the following:<br />
&nbsp;&nbsp;&nbsp;Do not deny God.<br />
&nbsp;&nbsp;&nbsp;Do not blaspheme God.<br />
&nbsp;&nbsp;&nbsp;Do not murder.<br />
&nbsp;&nbsp;&nbsp;Do not engage in illicit sexual relations.<br />
&nbsp;&nbsp;&nbsp;Do not steal.<br /><br />
In fact, even in the United States these laws were recognized as the bedrock of civilization.  April 4th, 1982 was declared a National Day of Reflection by President Ronald Regan in which part cites the Noahide Laws.
…knowledge is an unworthy goal unless it is accompanied by moral and spiritual wisdom and understanding. He has provided a vivid example of the eternal validity of the Seven Noahide Laws, a moral code for all of us regardless of religious faith.<a href="#ref1"><sup>1</sup></a>
    <br />
To Answer question 8, we just don’t know, however from Wikipedia:<br />
Joseph Fitzmyer<a href="#ref3"><sup>3</sup></a> disputes the claim that the Apostolic Decree is based on Noahide Law (Gen 9) and instead proposes Lev 17–18 as the basis, see also Leviticus 18. He also argues that the decision was meant as a practical compromise to help Jewish and Gentile Christians to get along, not a theological statement intended to bind Christians for all time.<br /><br />
On Wikipedia there is a page dedicated to the views of Chistians on the Old Testament<a href="#ref4"><sup>4</sup></a>.  This page has a number of interpretations of what a follow of Jesus should or must do in relation to the Old Testament.  Some of the listed theories break up the Old Testament Laws into categories which each theory roughly similar in nature – Ceremonial (outdated), Judicial (outdated), and Moral (everlasting).<br /><br />
In Reference to question 9 and with the help of Bob, here is a list of Grace related verses from Luke in Acts:
<ol>
&nbsp;&nbsp;&nbsp;<li>With great power the apostles were giving testimony to the resurrection of the Lord Jesus, and great grace was on them all (Acts 4:33).</li>
&nbsp;&nbsp;&nbsp;<li>Now Stephen, full of grace and power, was performing great wonders and miraculous signs among the people (Acts 6:8).</li>
&nbsp;&nbsp;&nbsp;<li>When he came and saw the grace of God, he rejoiced and encouraged them all to remain true to the Lord with devoted hearts (Acts 11:23).</li>
&nbsp;&nbsp;&nbsp;<li>When the meeting of the synagogue had broken up, many of the Jews and God-fearing proselytes followed Paul and Barnabas, who were speaking with them and were persuading them to continue in the grace of God (Acts 13:43).</li>
&nbsp;&nbsp;&nbsp;<li>So they stayed there for a considerable time, speaking out courageously for the Lord, who testified to the message of his grace, granting miraculous signs and wonders to be performed through their hands (Acts 14:3).</li>
&nbsp;&nbsp;&nbsp;<li>From there they sailed back to Antioch, where they had been commended to the grace of God for the work they had now completed (Acts 14:26).</li>
&nbsp;&nbsp;&nbsp;<li>On the contrary, we believe that we are saved through the grace of the Lord Jesus, in the same way as they are” (Acts 15:11).</li>
</ol>
</p>

<p>
<h4>References</h4>
<ul class="alt">
    <li><sup>1</sup> <a name="ref1" target="_blank" href="http://www.chabad.org/therebbe/article_cdo/aid/142535/jewish/The-Rebbe-and-President-Reagan.htm"> President Ronald Reagan Declaration</a></li>
    <li><sup>2</sup> <a name="ref2" target="_blank" href="https://bible.org/seriespage/21-great-debates-acts-151-41"> Bob Deffinbaugh on the Great Debate at Jerusalem</a></li>
    <li><sup>3</sup> <a name="ref3">The Acts of the Apostles (The Anchor Yale Bible Commentaries), Yale University Press (December 2, 1998), ISBN 0-300-13982-9, chapter V</a></li>
    <li><sup>4</sup> <a name="ref4" target="_blank" href="https://en.wikipedia.org/wiki/Christian_views_on_the_Old_Covenant"> Christian Views on Old Testament</a></li>
</ul>
</p>