
@{
    ViewBag.Title = "Ecclesiastes Overview";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="Study of the Book of Ecclesiastes." />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Book of Ecclesiastes, Ecclesiastes, Ketuvim,The Writings, Bible, Bible Study, Solomon, Fellowship Church" />

<h2>Ecclesiastes</h2>
<p>
    Before I get into the overview of the book I want to give proper respect and recognition to Dr. David Feddes for his bible study
    on Ecclesiastes,
    <a href="https://www.amazon.com/Beyond-Sun-Bible-Study-Ecclesiastes-ebook/dp/B00MIYXWUG/ref=la_B00GEES1M0_1_4?s=books&ie=UTF8&qid=1507032108&sr=1-4" target="_blank">
        Beyond the Sun
    </a>.  This free (kindle edition or on
    <a href="https://moodle.christianleadersinstitute.org/" target="_blank">
        Christian Leadership Institute
    </a>
    Wisdom Literature class) resource was fantastic.
    I even took the time to
    <a href="https://www.amazon.com/gp/customer-reviews/R1FT6T2LUK3UC5/ref=cm_cr_dp_d_rvw_ttl?ie=UTF8&ASIN=B00MIYXWUG" target="_blank">
        write a review
    </a>
    of the material which is something I rarely do!.
</p>
<h3>Ecclesiastes Overview</h3>
<style>
    .ROJAQuestion {
    font-size:1.2em;
    color:#e58816;
    font-weight:bold;
    }
</style>
<p>
    The name of the book is based on a Greek word which basically means ‘One who addresses an assembly’.
    The original Hebrew is Qoheleth.  It is mostly believed that Ecclesiastes was written by Solomon around 900 bc.
    There is another viewpoint that places this book around 400 bc as either a collected works or authored by another person.
</p>
<h4 class="ROJAQuestion">Position in Scripture</h4>
<p>The Old Testament is commonly broken up into 3 main books.  Of these three the book of Ecclesiastes is found in the
    third grouping.<br />
    <strong>Torah or Pentateuch</strong> – Book of the Law which are the 5 books of Moses.<br />
    <strong>Nevi’im</strong> – Books of the Prophets, broken up Former and Latter.<br />
    <strong>Ketuvim</strong> – Writings, these are the books of wisdom.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Sifrei Emet (truth) – Psalms, Proverbs, Job<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Hamesh Melligot (5 Melligot) – Song of Songs, Ruth, Esther, Ecclesiastes, Lamentations<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Unnamed Remaining – Daniel, Ezra, Nehemiah, Chronicles<br />
</p>
<h4 class="ROJAQuestion">Background</h4>
<p>
    It was common in Judaism to read Ecclesiastes during the Feast of Booths (aka. Ingathering, Sukkot).  In Exodus 23:14 God declares 3 major feasts
    to be given in His Honor.  The religious part of the Feast of Booths is that of 
    commemorating the Exodus and the dependence of the People of Israel on the will of God.
</p>
<h4 class="ROJAQuestion">Themes</h4>
<p>
    There are many themes that a person can find and relate to in reading any scripture.  
    Remember as we read that the original author had an intent.  That intent is singular and is the word of God.  
    We can see application to our own lives which can help us in our pursuit of God.  
    However, our application of the bible is not a replacement for the bible or the intention of the original author.  
    As we read I will point out some applications we can get from the text.  
    It is to your benefit to come up with some of your own applications from the text.
    </p>
    <h5>Grow in Godliness</h5>
<p>
    As we read the book of Ecclesiastes (2:24-26, 3:22, 7:8-9, 9:7-10, 12:12-14) we’ll see that joy, wisdom, and knowledge all come from God.  We cannot and should not seek these things apart from Him.  In fact, we should not seek them at all. When we seek God, he will render these things onto us.
</p>
 <h6>Other places in the bible that tell us to seek God and grow in His ways.</h6>
<p>    
Isaiah 55: 6-7, Zephaniah 2:3, Proverbs 8:17, Luke 11:9-10, Jeremiah 29:13, Deut 4:27-29, James 4:8
    </p>
    <h6>What happens when we do this:</h6>
    <p>Lamentations 3:25, Matthew 6:33, Psalm 34:10, Deut 30:15-16, Psalm 16:11, James 1:5</p>

    <h5>Cultivating Dynamic Devotion</h5>
    <p>Ecclesiastes reveals (2:1-11, 5:10, 12:8, 13) that the meaning of life comes from our devotion and obedience to God.  
    God seeks our hearts, minds, and souls (Mat: 22:37, Deut 6:5).  
    Without a passion for God and His ways we will find ourselves simply chasing the wind.  
    This is not a superficial devotion as written about in Ezekiel 33:31-32.  
    It is a dynamic, dedicated devotion, one which makes a choice for God.  
    In 1 Kings 18:21 Elijah calls on Israelites to have a dedicated devotion to God.  
    We should challenge ourselves and test ourselves for this.</p>
    <p>
    For more on this and a study in the Psalms see this fantastic, challenging, and blessing of a 
        <a href="http://www.desiringgod.org/messages/songs-that-shape-the-heart-and-mind" target="_blank">series by John Piper.</a><sup>1</sup>
</p>
    <h5>Pursuing Holiness</h5>
    <p>Ecclesiastes demonstrates (8:8, 8:11) that our freedom from bondage to sin comes from the love and power of God.  
    Our pursuit of holiness is an expectation of God.  This is part of our training, strengthen, and discipline 
    that comes as a son of the Most High.</p>
    <h6>Scripture which tells us to pursue holiness</h6>
    <p>2 Tim 3: 15-17, Duet 13:3-4, Exodus 33:13, Psalm 119: 71, 75, 2 Chro 7:14, Lev 19: 2, 1 Cor 15:34, 1 Peter 1:15-16, Pro 16:17</p>
    <h6>Consequences of not pursuing holiness</h6>
<p>
    Jeremiah 23: 16-17, Pro 5: 11-13, Lev 26:18-19
    </p>
    <h5>Walking In Faith</h5>
    <p>
    The gifts of God come through faith.  Even in faith a fool can be saved, he can learn wisdom (Job 13:5).  Faith filled living means to learn to make wise choices, choices which glorify God.   
</p>
<p>
    From the <a href="http://www.reformed.org/documents/wsc/index.html?_top=http://www.reformed.org/documents/WSC.html" target="_blank">Westminister Shorter Catechism:</a><sup>2</sup>
    Man's chief end is to glorify God, (1 Corinthians 10:31, Isaiah 60:21, Romans 11:36, Rev 4:11 )
    and to enjoy him forever. (<a href="https://www.biblegateway.com/passage/?search=Psalm+73&version=NKJV" target="_blank">Psalms 73:25 Psalms 73:26</a><sup>3</sup>)
</p> 
<p>
    We also see that this ‘chief end’ circles us back to the point of Ecclesiastes, that our joy comes from God.  
    For more on this topic see 
    <a href="http://www.desiringgod.org/articles/what-is-christian-hedonism" target="_blank">Christian Hedonism by John Piper.</a><sup>4</sup>
</p>

<p>
<h4>References</h4>
<ul class="alt">
    <li><sup>1</sup> <a name="ref1" target="_blank" href="http://www.desiringgod.org/messages/songs-that-shape-the-heart-and-mind"> John Piper on Study of Psalms</a></li>
    <li><sup>2</sup> <a name="ref2" target="_blank" href="http://www.reformed.org/documents/wsc/index.html?_top=http://www.reformed.org/documents/WSC.html"> Westminister Shorter Catechism</a></li>
    <li><sup>3</sup> <a name="ref3" target="_blank" href="</p>https://www.biblegateway.com/passage/?search=Psalm+73&version=NKJV">Book of Psalms Chapter 73</a></li>
    <li><sup>4</sup> <a name="ref4" target="_blank" href="http://www.desiringgod.org/articles/what-is-christian-hedonism"> Christian Hedonism by John Piper</a></li>
</ul>