
@{
    ViewBag.Title = "Galatians";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="The Holy Spirit is a distinct, powerful, and personal side of God.  " />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Rule of 72, Dollar Cost Averaging, Retirement, Smart Money, Financial Investing, Financial Strategy" />

<h2>Galatians</h2>
    <article>
        <p>
            The people of Galatia have received the Word from the Apostle Paul, but when others came to them they caused the Galatians to stumble (Gal 1:6, 3:3, 4:9, 5:7).
            In this course we find that Paul has been challenged by other Jewish Christians.  First the Gospel taught by Paul was challenged as being incomplete or wrong and Paul
            had to defend his Gospel and also go on the offensive against other Gospels (Gal 1:9, 1:12, 2:2, 2:14-16, 4:4-7, 4:31, 5:2, 5:6, 5:14, 5:18).  The core issue causing
            the Galatians to stumble was two-fold; one was submitting to circumcision (losing the freedom from Christ Jesus), and the other was wrongly using the freedom of Christ Jesus.
        </p>
        <p>
            First, they were being told to submit themselves to the covenant of Abraham which Paul preached as also being under the Law of Moses.  Paul argues that Christ Jesus is the fulfillment
            of the covenant (Gal 3:19) and that fulfillment means the law has been removed and replaced by faith (Gal 3:24-26).  He further argues that the Law of Moses made slaves of those who
            followed it (Gal 4:5) and that none are justified by the Law (Gal 2:16).  In no uncertain terms he contends that slaves do not inherit the kingdom as they are slaves (Gal 4:9, 4:30),
            and only through faith as sons (Gal 3:26, 4:5-7) do we receive the promised blessing of Abraham which is Christ Jesus (Gal 3:9).
        </p>
        <p>
            Second, Paul had to preach the gospel of freedom in context of the Spirit vs Flesh (Gal 5:1).  Freedom doesn’t come in terms of doing whatever you want (Gal 5:17).
            Freedom only comes in Christ (Gal 5:16-18, 5:23) and the Kingdom of God is not for those who practice the desires of the flesh (Gal 5:21).
            Going beyond just practicing desires of the flesh (as some have read this as meaning a lifestyle and not just intermittent sin) Paul confirms that those in Christ have
            crucified their sinful nature with Christ (Gal 5:24).  Freedom is specific in what it allows and how it is used, freedom is used to love your neighbor (Gal 5:13).
        </p>

        <span>Outline</span><div class="x-text">
            <ul>
                <li>
                    Introduction (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.1-Gal.1.10">1:1–10</a>)
                    <ul>
                        <li>Greetings (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.1-Gal.1.5">1:1–5</a>)</li>
                        <li>Denunciation (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.6-Gal.1.10">1:6–10</a>)</li>
                    </ul>
                </li>
                <li>
                    Personal: Authentication of the Apostle of Liberty and Faith (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.11-Gal.2.21">1:11—2:21</a>)
                    <ul>
                        <li>Paul’s Gospel Was Received by Special Revelation (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.11-Gal.1.12">1:11–12</a>)</li>
                        <li>
                            Paul’s Gospel Was Independent of the Jerusalem Apostles and the Judean Churches (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.13-Gal.2.21">1:13—2:21</a>)
                            <ol>
                                <li>Evidenced by his early activities as a Christian (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.13-Gal.1.17">1:13–17</a>)</li>
                                <li>Evidenced by his first post-Christian visit to Jerusalem (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.1.18-Gal.1.24">1:18–24</a>)</li>
                                <li>Evidenced by his second post-Christian visit to Jerusalem (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.2.1-Gal.2.10">2:1–10</a>)</li>
                                <li>Evidenced by his rebuke of Peter at Antioch (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.2.11-Gal.2.21">2:11–21</a>)</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>
                    Doctrinal: Justification of the Doctrine of Liberty and Faith (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3-Gal.4">chs. 3–4</a>)
                    <ul>
                        <li>The Galatians’ Experience of the Gospel (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.1-Gal.3.5">3:1–5</a>)</li>
                        <li>The Experience of Abraham (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.6-Gal.3.9">3:6–9</a>)</li>
                        <li>The Curse of the Law (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.10-Gal.3.14">3:10–14</a>)</li>
                        <li>The Priority of the Promise (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.15-Gal.3.18">3:15–18</a>)</li>
                        <li>The Purpose of the Law (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.19-Gal.3.25">3:19–25</a>)</li>
                        <li>Sons, Not Slaves (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.3.26-Gal.4.7">3:26—4:7</a>)</li>
                        <li>The Danger of Turning Back (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.4.8-Gal.4.11">4:8–11</a>)</li>
                        <li>Appeal to Embrace the Freedom of God’s Children (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.4.12-Gal.4.20">4:12–20</a>)</li>
                        <li>God’s Children Are Children of the Free Woman (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.4.21-Gal.4.31">4:21–31</a>)</li>
                    </ul>
                </li>
                <li>
                    Practical: Practice of the Life of Liberty and Faith (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.5.1-Gal.6.10">5:1—6:10</a>)
                    <ul>
                        <li>Exhortation to Freedom (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.5.1-Gal.5.12">5:1–12</a>)</li>
                        <li>Life by the Spirit, Not by the Flesh (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.5.13-Gal.5.26">5:13–26</a>)</li>
                        <li>Call for Mutual Help (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.6.1-Gal.6.10">6:1–10</a>)</li>
                    </ul>
                </li>
                <li>Conclusion and Benediction (<a target="_blank" href="https://www.biblica.com/bible/?osis=NIV:Gal.6.11-Gal.6.18">6:11–18</a>)</li>
            </ul>
        </div>
    </article>
