
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="Bible Study Questions" />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Bible, Bible Study, Questions, Bible Study Questions, Biblical Application, Bible Interpretation, Study Guide, Fellowship Church" />

<h2>Practical Bible Study</h2>
<h4 class="ROJAQuestion">Principles of Biblical Interpretation <a href="#ref1"><sup>1</sup></a></h4>
<p>These are basic guidelines to remember when reading the bible.  Interpretation and application are not the same thing!  For example, the bible says to have no
    idols other than God.  In my life I easily get addicted to video games, so my application is to altogether avoid video games.  However, it is wrong
    for me to say to another person that the interpretation of that scripture is that you should not play video games.
</p>
<ol>
    <li>Interpretation must be based on the author’s intention of meaning and not the reader</li>
    <li>Interpretations must be done in the context of the passage. </li>
    <li>Interpret the Bible literally (or normally) allowing for normal use of figurative language</li>
    <li>Use the Bible to help interpret itself</li>
    <li>Interpretation must be distinguished from application</li>
    <li>Be sensitive to the type of literature you are in</li>
</ol>

<h4 class="ROJAQuestion">Ligonier Ministries <a href="#ref2"><sup>2</sup></a></h4>

<ol>
    <li>Is there a command to obey?</li>
    <li>Is there an example to follow?</li>
    <li>Is there a promise to claim?</li>
    <li>Is there a sin to avoid?</li>
    <li>Is there a principle to follow?</li>
</ol>


<h4 class="ROJAQuestion">Crossway Questions <a href="#ref3"><sup>3</sup></a></h4>
 
<h4>Information Questions</h4><ol>
    <li>What does this passage teach about God?</li>
    <li>What attributes are on display?</li>
    <li>What work is God doing?</li>
    <li>How does the biblical author point us to God in this text?</li>
    <li>Even though God may not be explicitly mentioned in this text, how is he at work in what is happening? How is he directing "behind the scenes?"</li>
    <li>How does this passage either reveal or reflect the glory of God?</li>
</ol>

<h4>Application Questions</h4>
<ol>
    <li>Does this passage offer any models of those who miss the point by not seeing God at work and by not focusing on his glory?</li>
    <li>Does this passage offer any models of those who get the point?</li>
    <li>What can I learn from these negative and positive models?</li>
    <li>What does this text teach me about my own pursuits and agendas?</li>
    <li>What selfish ambitions and pursuits do I need to repent of in light of what I just read in God's Word?</li>
    <li>What have I learned from this text that helps me keep God and his glory at the center of my life?</li>
</ol>

<h4 class="ROJAQuestion">Further Study Questions <a href="#ref4"><sup>4</sup></a></h4>

<ol>
    <li>What does this passage teach about God?</li>
    <li>What does this passage teach about man?</li>
    <li>Is there a command to obey, an example to follow, or a promise to claim?</li>
    <li>Is there a sin to confess or avoid?</li>
    <li>How do I need to specifically apply this to my life?</li>
</ol>

<p>
<h4>References</h4>
<ul class="alt">
    <li><sup>1</sup> <a name="ref1" target="_blank" href="https://bible.org/seriespage/lesson-6-principles-biblical-interpretation"> Principles of Biblical Interpretation</a></li>
    <li><sup>2</sup> <a name="ref2" target="_blank" href="http://www.ligonier.org/blog/5-questions-ask-when-reading-bible/"> Ligonier Ministries: Questions to Ask When Reading the Bible</a></li>
    <li><sup>3</sup> <a name="ref3" target="_blank" href="https://www.crossway.org/blog/2011/07/dont-miss-the-point-questions-to-ask-while-reading-scripture/"> Crossway: Questions to Ask While Reading Scripture</a></li>
    <li><sup>4</sup> <a name="ref4" target="_blank" href="https://followjonathan.wordpress.com/2016/04/25/five-basic-questions-to-help-you-study-the-bible/"> Questions to Help You Study the Bible</a></li>
</ul>
</p>