
@{
    ViewBag.Title = "Smart Money";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<meta name="author" content="Adam Heeg" />
<meta name="description" content="Basic concepts to make smart choices with your money, by applying smart money principles.  Good investment strategy and investment planning can help make your early retirement a reality." />
<meta name="keywords" content="Adam Heeg, Adam, Heeg, Richard, Adam Richard Heeg, heegar, Rule of 72, Dollar Cost Averaging, Retirement, Smart Money, Financial Investing, Financial Strategy" />

		<!-- Section -->
<section>
    <header class="major">
        <h2><img src="~/images/Ticons/tiny_GoodDollar_F5D327.png" style="height: 75px; width: 75px; vertical-align: middle;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Smart Money, Financial Concepts, and Retirement &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    </header>
    <p>Smart money is making wise choices with your money.  There are concepts that are tried and true when it comes to making wise decisions with your money, concepts I will share with you here.</p>
    <h3>Two Days</h3>
    <p>There are two very important days in your future.  One you can't avoid and the other you don't want to miss!  The first is the day you can not work any longer.  Whether it is infirmity, injury, or death, there will come a day when you can no longer work.  The second is the day you no longer need to work.  If you plan right, invest smart, and spend conservatively you will find a day come when you no longer have a financial need to work!  I want you to arrive at the day you do not need to work before you can no longer work.</p>
    <p>If you don't have a plan to reach this goal talk with me about it.  I don't charge anything and I don't put any pressure on you to make any decisions.  I have information and tools to share with you which can help you reach this goal.</p>
    <div class="row">
	    <div class="6u 12u$(small)">
		    <h3>Rule of 72</h3>
		    <article>
			    <a href="#" class="image"><img src="~/images/Ruleof72.jpg" alt="" /></a>
			    <p><a href="http://www.investopedia.com/terms/r/ruleof72.asp" target="_blank">Rule of 72</a> is a simple calculation to approximate how many years it takes for your money to double!  I hope you feel a little excitement at the idea of doubling your money even one time, let alone over and over.</p>
		        <p>This table serves as a demonstration of how the Rule of 72 concept works from a mathematical standpoint.  It is hypothetical and not intended to represent an investment.  The chart uses a constant rate of return, unlike actual investments which will fluctuate in value.  It does not include fees or takes which would lower performance.</p>
                <h4>How many doubling periods do you have in your life?</h4>
            </article>
	    </div>
	    <div class="6u$ 12u$(small)">
            <article>
		        <h3>Systemic Investing - Dollar Cost Averaging</h3>
			    <a href="#" class="image"><img src="~/images/dca.png" alt="" /></a>
			     <p>Systemic investing allows you to use <a href="http://www.investopedia.com/terms/d/dollarcostaveraging.asp" target="_blank">dollar cost averaging</a> to build wealth over the long term.</p>
		        <p>Dollar-Cost Averaging is a technique for lowering the average cost per share over time.  While a continuous program of dollar cost averaging can reduce cost per share over time, it cannot assure a profit or protect against loss in declining markets.  Since dollar cost averaging involves continuous investments over time, the investor should consider his or her financial ability to continue to purchase through low price levels.  The values shown are hypothetical, not intended to reflect any specific market period but to demonstrate the effect of a fluctuating market.</p>
           </article>
    </div>
</div>
	<ul class="actions">
		<li><a href="mailto:heegar@hotmail.com" class="button">Contact Me</a></li>
	</ul>
</section>
